{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #subtitle_con {

        font-family: 'Lora';
        font-style: normal;
        font-size: 14px;
        /* identical to box height */

        color: #747D88;
    }

    #title_con {
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        /* identical to box height */
        margin-bottom:5px;
        color: #3C444C;
    }
    section{
        width:300px;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0;
        padding-bottom:100px;
        visibility: hidden;
        margin-top: 8px;
    }
    section.active{
        opacity: 1;    
        visibility: visible;
    }
    .nav {
        display: flex;
        justify-content: space-around;
        margin-top: 18px;
    }
    .nav .item {
        height: 25px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        color:#747D88;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index:10;
        background-color: white;
        font-family: 'Lora';
        font-weight: 600;
        font-size:14px;
        padding: 0 8px 2px 8px;
    }
    .nav .active {
        color:white;
        background-color: #3C444C;
        border-radius: 10px;
    }
    .content {
        width: 100%;
        position: relative;
        padding-bottom:80px;
        display: flex;
        justify-content: center;
    }
    select {
        margin-right:12px;
        background-color: #98a1ac;
        color:white;
        border-radius:5px;
        text-align: center;
    }
    #search {
        width:20px;
        height: 20px;
        margin-left:6px;
        margin-top:1px;
    }
</style>

<body style="margin:0">
    <div style="width:330px;margin:0 auto;">
        <div style="margin:16px 18px 11px 18px;position:relative">
            <div id="title_con">한경관</div>
            <div id="subtitle_con">현재 인원(&#177;1~2명) / 최대 정원</div>
            <a href="{% url 'home' %}">
                <img style="position:absolute;top:5px; left:250px"src="{% static 'homeIcon.png' %}" width="37px" height="37px">
            </a>
        </div>
        <div style="position:relative;display:flex;flex-direction:column;background-color:#A278F4; color:white;height:170px; width: 260px;margin: 0 auto;border:3px solid #A278F4;border-radius:20px; padding:15px 20px;">
            <div style="cursor:pointer;position:absolute;left:210px;top:18px">
                <div style="display:flex;flex-direction:row-reverse; width:70px;">
                    <img src="{% static 'reload.png' %}" style="margin-left:13px;" onclick="reload()" width="31px" height="31px">
                    {% if user.is_authenticated %}
                    <a href="{% url 'delete' %}">
                        <img src="{% static 'trash.png' %}" width="28px" height="28px">
                    </a>
                    {% endif %}
                </div>
            </div>

            {% if iot_first %}
                <span style="text-align:center; margin:auto;font-size:60px;line-height:60px;">{{iot_first.num}}<span style="font-size: 42px; font-weight:bold; margin-left:5px;">%</span></span>
            {% else %}
                <span id="refreshCon" style="text-align:center; margin:auto;font-family:'Lora';font-size:60px;line-height:60px;"><span id="result">0</span><span style="font-size: 42px; font-weight:bold; margin-left:5px;">%</span></span>
            {% endif %}
            <div style="position:absolute; left:130px;top:160px;font-family:'Lora'; font-style:normal; font-weight: 600;">
                <div style="display:flex;flex-direction:row-reverse; width:150px">
                    <span>
                        {% if iot_first %}
                        <span id="p_num">{{iot_first.num}}</span>명 /
                        {% else %}
                        <span id="p_num">0</span>명 /
                        {% endif %}
                        <span id="t_num">100</span>명
                    </span>
                </div>
            </div>
        </div>
        
        <div class="nav">
            <div class="item active">Food Menu</div>
            <div class="item" onclick=todayGraph()>Today Graph</div>
            <div class="item" onclick=DailyGraph()>Daily Graph</div>
        </div>
        <div class="content">
            <section class="active">
                <div style="display:flex;justify-content:space-between;margin-top:5px">
                    <div>
                        <span style="font-family:'Lora'; font-size:16px;font-weight:bold;">{{eat_first.eat_count}}명 가능 중...</span>
                        <img src="{% static 'shoe.png' %}" width="18px" height="18px">    
                    </div>
                    {% if eat_first.flag == True %}
                    <button id="eat" style="width:75px;padding-top:3px;padding-bottom:3px;font-family:'Lora';font-weight:bold;background-color:#6AAEEC; color:white; border: 0; border-radius:5px">
                        <a href="{% url 'eat_plus' %}">식사 예정</a>
                    </button>
                    {% else %}
                    <button id="eat" style="width:75px;padding-top:3px;padding-bottom:3px;font-family:'Lora';font-weight:bold;background-color:#EE8787; color:white; border: 0; border-radius:5px">
                        <a href="{% url 'eat_minus' %}">취소</a>
                    </button>
                    {% endif %}
                </div>
                <div style="margin-top:20px">
                    <div style="display:flex;">
                        <img src="{% static 'lunch.png' %}" style="width:22px; height:22px">
                        <div style="font-family:'Lora'; font-size:16px;font-weight:bold;margin-bottom:5px">&nbsp;중식(2층)</div>
                    </div>
                    <div>
                        {% if today_menu %}
                        {{today_menu.lunch}}
                        {% else %}
                        <div>해당 요일은 식당 운영을 하지 않습니다.</div>
                        {% endif %}
                    </div>
                </div>
                <div style="margin-top:20px">
                    <div style="display:flex;">
                        <img src="{% static 'dinner.png' %}" style="width:22px; height:22px">
                        <div style="font-family:'Lora'; font-size:16px;font-weight:bold;margin-bottom:5px">&nbsp;석식(2층)</div>
                    </div>
                    <div>
                        {% if today_menu %}
                        {{today_menu.dinner}}
                        {% else %}
                        <div>해당 요일은 식당 운영을 하지 않습니다.</div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section style="margin-top:0;display:flex;justify-content:center">
                <img id="todayGraph" src="" alt="" width="350px">
            </section>
            <section style="display:flex;flex-direction:column;justify-content:center">
                <div style="margin:18px 0 5px 0;display:flex;justify-content:center">
                    <select name="selYear">
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                    </select>
                    <select name="selMonth">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select name="selDay">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <button style="margin-top:2px;background:transparent;border:0;cursor:pointer" onclick="search()"><img id="search" src="{% static 'search.png' %}"></button>
                </div>
                <img src="" id="dailyGraph" alt="" width="350px">

            </section>
        </div>
        
        <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous">
        </script>
        <script>
            function DailyGraph() {
                let today = new Date();   

                let year = today.getFullYear(); // 년도
                let month = today.getMonth() + 1;  // 월
                let date = today.getDate();  // 날짜

                $('select[name=selYear] option[value='+year+']').attr("selected",true);
                $('select[name=selMonth] option[value='+month+']').attr("selected",true);
                $('select[name=selDay] option[value='+date+']').attr("selected",true);
                document.getElementById("dailyGraph").src = "/static/"+year+month+date+".png";

            }
            function search() {
                const year = $("select[name=selYear]").val();
                const month = $("select[name=selMonth]").val();
                const day = $("select[name=selDay]").val();
                document.getElementById("dailyGraph").src = "/static/"+year+month+day+".png";

            }
            function todayGraph(){
                let today = new Date();   

                let year = today.getFullYear(); // 년도
                let month = today.getMonth() + 1;  // 월
                let date = today.getDate();  // 날짜
                document.getElementById("todayGraph").src = "/static/"+year+month+date+".png";

            }

            function ChnImg(){
                let today = new Date();   

                let year = today.getFullYear(); // 년도
                let month = today.getMonth() + 1;  // 월
                let date = today.getDate();  // 날짜
                document.getElementById("imgId").src = "/static/"+year+month+date+".png";

            }
            function date() {
                let today = new Date();   

                let year = today.getFullYear(); // 년도
                let month = today.getMonth() + 1;  // 월
                let date = today.getDate();  // 날짜
                
                str = year + '/' + month + '/' + date
                document.getElementById('presentDate').innerHTML = str
            }
            function reload() {
                location.reload();
            }
            window.onload = function calculateCon() {
                const present_num = document.getElementById('p_num').innerHTML;
                const total_num = document.getElementById('t_num').innerHTML;
                const result = 100 * present_num / total_num;
                document.getElementById('result').innerHTML = result;
            }

            /*세부 메뉴바*/
            const items=document.querySelectorAll('.item');
            const sections=document.querySelectorAll('section');

            function removeActive(){
                items.forEach(item=>{
                    item.classList.remove('active');
                });

                sections.forEach(item=>{
                    item.classList.remove('active');
                });
            }

            items.forEach((item,index)=>{
                item.addEventListener('click', function(){
                    removeActive();
                    item.classList.add('active');
                    sections[index].classList.add('active');
                });
            })
        </script>
    
    </div>
</body>

{% endblock %}