{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #title2, #title3, #logo2, #logo3, #overlay2, #overlay3 {
        display: none;
    }
    #logo1 {
        display:flex;width:36px;margin-right:15px;
    }
    #img {
        margin: 33px auto 0 auto;
    }
</style>
    <div style="display:flex; flex-direction:column">
        <a href="{% url 'congestion' %}" id="img" >
            <img src="{% static '한경관1.png' %}" width="270" height="180">
        </a>
        <img src="{% static '부를샘1.png' %}" id="img" width="270" height="180">
        <img src="{% static '고를샘1.png' %}" id="img" width="270" height="180">
        <img src="{% static '맛나샘1.png' %}" id="img" style="margin-bottom:33px;" width="270" height="180">
    </div>

{% endblock %}

